{% extends "base.html" %}

{% load static %}

{% block title %}Aliment{%  endblock title %}

{% block header %}
    <div class="col-lg-10 align-self-end">
        <h1 class="text-uppercase text-white font-weight-bold">Nom du produit</h1>
    </div>
{% endblock header %}

{% block main %}
    <main class="h-100 w-100">
        <div class="container-fluid h-100 w-100">
            <div class="row h-50">
                <div class="col-md-6 text-center">
                    <img class="nutriscore" src="{% static "/assets/img/A-score.png" %}" alt="A-score">
                </div>
                <div class="col-md-6">
                    <p>Repères nutritionnels pour 100:</p>
                    <ul class="rnut">
                        <li>🔴 10g glucide</li>
                        <li>🟢 1g lipide</li>
                        <li>🟢 2L d'eau</li>
                    </ul>
                </div>
            </div>
            <div class="row h-25 text-center justify-content-center align-items-center">
                <button>Voir la fiche d'OpenFoodFacts</button>
            </div>
        </div>
    </main>
{% endblock main %}
